/* Navigation */
.logo {
    width: 60px;
    height: 70px;
    position: absolute;
    top: 8px;
    left: 15px;
}

.navigation {
    margin: 0;
    background-color: #222222;
    height: 85px;
    line-height: 85px;
    position: relative;
    z-index: 1;
    width: 100%;
}

.navigation-list {
    list-style-type: none;
    display: flex;
    justify-content: right;
}

.navigation-link {
    text-decoration: none;
    padding: 15px;
    color: #ffffff;
}

.sticky {
    position: sticky;
    width: 100%;
    top: 0;
}

@media screen and (max-width: 490px) {
    .logo {
        display: none;
    }

    .navigation-link {
        padding: 5px;
    }
}